*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body, html {
  font-size: 16px;
  background: #FFFFFF;
}

body {
  background: #F2F2F2;
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.6875rem;
}

h2, h3 {
  font-size: 1.73rem;
}

h2 {
  text-align: center;
  color: #212121;
}

h3 {
  color: #F3EE1E;
}

p {
  color: #141414;
  font-size: 1rem;
}

a {
  color: #F4FFE3;
  font-size: 1.44rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.44rem;
  height: 3.5625rem;
}

.cta-btn {
  width: 15.1875rem;
}

.submit-btn {
  width: 9.375rem;
  background: #F3EE1E;
  color: #1A1A1A;
  font-weight: 500;
  margin-top: 1.9375rem;
  margin-bottom: 4.125rem;
}

header {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 2.85125rem;
  padding-bottom: 6.625rem;
  margin: 0;
  background: #212121;
  color: #F4FFE3;
}

header .logo img {
  width: 86%;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.1875rem;
}

.top-bar .cta-btn {
  color: #1A1A1A;
  background: #F3EE1E;
}

.menu-btn {
  z-index: 1;
  height: 2.0625rem;
  width: 3.125rem;
  cursor: pointer;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.menu-hamburger-1, .menu-hamburger-2, .menu-hamburger-3 {
  width: 100%;
  height: 0.1875rem;
  background: #F3EE1E;
}

.menu-hamburger-1, .menu-hamburger-2 {
  margin-bottom: 0.75rem;
}

.menu-hamburger-2 {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

.menu-hamburger-1, .menu-hamburger-3 {
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.active .menu-hamburger-2 {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

.active .menu-hamburger-1 {
  -webkit-transform: translate(0, 15px) rotate(40deg);
          transform: translate(0, 15px) rotate(40deg);
  background: #F3EE1E;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.active .menu-hamburger-3 {
  -webkit-transform: translate(0, -15px) rotate(-40deg);
          transform: translate(0, -15px) rotate(-40deg);
  background: #F3EE1E;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.nav-wrapper {
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
  position: fixed;
  top: 9.8125rem;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: transparent;
}

.nav-wrapper.active {
  visibility: visible;
  right: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(min(80vh, 40rem));
  width: 86.66%;
  background-color: #333333;
}

.nav-menu {
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-menu .nav-menu-link {
  width: 100%;
  text-align: center;
  position: relative;
}

.nav-menu .nav-menu-link::after {
  content: '';
  width: 100%;
  height: 0.03125rem;
  position: absolute;
  top: 200%;
  left: 0;
  background: #4D4D4D;
}

.hero-section img {
  max-width: 100%;
}

main {
  color: #212121;
}

main section {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 5.5625rem;
}

main .cta-btn {
  color: #F3EE1E;
  background: #212121;
  -webkit-box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.about h2 {
  margin-bottom: 2.9375rem;
}

.about p {
  margin-bottom: 0.5rem;
}

.how-it-works {
  text-align: center;
}

.how-it-works h2 {
  margin-bottom: 2.9375rem;
}

.how-it-works ul {
  margin: 0 auto;
  text-align: center;
}

.how-it-works li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.25rem;
}

.how-it-works .list-number {
  width: 2.125rem;
  height: 2.125rem;
  background: #212121;
  color: #F3EE1E;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.44rem;
  font-weight: 600;
}

.how-it-works .list-text {
  margin-left: 1.75rem;
  font-size: 1.2rem;
}

.how-it-works .cta-btn {
  margin-top: 1.125rem;
  margin-bottom: 4.375rem;
}

.features {
  background: #FAFFF1;
  text-align: center;
}

.features h2 {
  margin-bottom: 5.25rem;
}

.features li {
  margin-bottom: 4.75rem;
}

.features .list-icon, .features .list-text {
  margin: 0 auto;
}

.features .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.4375rem;
  height: 9.4375rem;
  margin-bottom: 2.0625rem;
  background-color: #212121;
  border-radius: 50%;
}

.features .list-text {
  width: 13.4375rem;
  font-size: 1.44rem;
}

.features .cta-btn {
  margin-top: 0.5rem;
  margin-bottom: 5.25rem;
}

.testimonials {
  margin-bottom: 0.3125rem;
}

.testimonials h2 {
  margin-bottom: 5.25rem;
}

.testimonial {
  background: #FFFFFF;
  width: 100%;
  height: 25.8125rem;
  margin-bottom: 5.25rem;
}

.testimonial header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.3125rem;
  padding: 1rem;
}

.testimonial h3 {
  margin-bottom: 0.4375rem;
}

.testimonial .job-title {
  font-size: 1.2rem;
  color: #F9F68F;
}

.testimonial .header-text {
  padding: 1.4375rem 0 0.9375rem 0.625rem;
}

.testimonial .header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .avatar {
  border: 0.125rem solid #F4FFE3;
  width: 6.25rem;
  border-radius: 50%;
}

.testimonial .content {
  padding: 3.185rem 2.75rem 4.375rem 2.75rem;
}

.cta-section {
  background: #FAFFF1;
  text-align: center;
}

.cta-section .cta-btn {
  margin: 5.25rem auto;
}

footer {
  padding: 4.59375rem 1.5625rem 1.6875rem 1.5625rem;
  background: #212121;
  color: #F4FFE3;
}

footer .logo {
  text-align: center;
}

footer .logo img {
  width: 32%;
  margin-bottom: 3.875rem;
}

.newsletter {
  text-align: center;
}

.newsletter label {
  font-size: 1.2rem;
}

.email {
  margin-top: 1.625rem;
  width: 100%;
  height: 3.5625rem;
  font-size: 1rem;
  color: #4D4D4D;
  padding-left: 4.5625rem;
  background: #F2F2F2 url("/assets/icons/envelope.svg") no-repeat 1.25rem center;
  border: none;
}

.nav-menu-footer {
  text-align: center;
}

.nav-menu-footer .nav-menu-link {
  margin-bottom: 1.5rem;
}

.nav-menu-footer .nav-menu-link a {
  font-size: 1.2rem;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.8125rem;
}

.attribution {
  margin-top: 2.875rem;
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 400px) {
  .hero-section {
    width: calc(min(95%, 45rem));
    margin: 0 auto;
    text-align: center;
  }
  .hero-section h1 {
    max-width: 32.625rem;
    margin: 0 auto;
  }
  .hero-section img {
    width: calc(min(100%, 30rem));
  }
  .about p {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: calc(min(90%, 20.3125rem));
  }
  .how-it-works ul {
    width: calc(min(90%, 20.3125rem));
  }
  .testimonial {
    width: calc(min(90%, 25.8125rem));
    margin: 0 auto;
    margin-bottom: 5.25rem;
  }
  footer .logo img {
    width: 6.95rem;
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email, .social-icons {
    width: 21.875rem;
  }
  .social-icons {
    margin: 0 auto;
    margin-top: 3.8125rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }
  header .logo img {
    width: 100%;
  }
  .menu-btn {
    display: none;
  }
  .nav-wrapper {
    position: relative;
    top: 0;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: calc(min(100%, 1440px));
  }
  .nav {
    background-color: transparent;
    height: 5.8125rem;
    width: 86%;
  }
  .nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    margin-left: calc(min(10%, 14.45rem));
  }
  .nav-menu .nav-menu-link {
    width: auto;
  }
  .nav-menu .nav-menu-link::after {
    display: none;
  }
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-right: 0.5%;
    padding-left: 2.75%;
  }
  .hero-section h1 {
    text-align: left;
    font-size: clamp(2rem, 4vw, 3.75rem);
    margin: 0;
    max-width: 38.06rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding: 0 4.4375rem 0 8.875rem;
  }
}
/*# sourceMappingURL=main.css.map */