button {
    position: relative;
    cursor: pointer;
    border: none;
    outline: none; 
    font-family: 'Poppins', sans-serif;
    font-size: $btn-text;
    height: 3.5625rem; 

    z-index: 1;
    transition: .4s ease-in-out;

    &.primary-btn {
        
        &:hover {
            color: $primary;
        }

        &:focus, &:focus-visible {
            outline: 3px solid $neutral;
            outline-offset: 1px;
        }
    }

    &.secondary-btn {

        &:hover {
            color: $dark-plus
        }

        &:focus, &:focus-visible {
            outline: 3px solid $primary-plus;
            outline-offset: 2px;
            box-shadow: none;
        }
    }

    &:hover {

        &:after {
            transform: scaleX(1);
        }
    }

   
}

button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: red;

    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: .4s ease-in-out;
}

.primary-btn:after {
    background: $secondary-minus;
}

.secondary-btn:after {
    background: $primary-plus;
}

// .primary-btn:hover {
    
//     &:after {
//         transform: scaleX(1);
//     }
// }



.cta-btn {
    width: 15.1875rem;
}

.submit-btn {
    width: 9.375rem;
    background: $primary;
    color: $dark;
    font-weight: 500;
    margin-top: 1.9375rem;
    margin-bottom: 4.125rem;    
}