*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none; 
 }

body, html {
    font-size: 16px;
    background: $light-minus;
}

body {
    // max-width: 1920px;
    background: $light; 
    // border: 1px solid red;

    max-width: 1440px;
    min-width: 300px;
    margin: 0 auto;     

    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
    &.scrolling {
        overflow-y: hidden;
    }
       
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.6875rem;    
}

h2, h3 {
    font-size: 1.73rem;
}

h2 {
    // margin-top: 5.5625rem;
    text-align: center;
    color: $secondary;
}

h3 {
    color: $primary;
}

p {
    color: $secondary-plus;
    font-size: $paragraph;
}

a {
    display: block;
    color: $neutral;
    font-size: $list-item-2;
    // transform-origin: left;
    transition: .25s ease-out;

    &.item-link:hover, &.item-link-footer:hover {
        color: $primary;
    }

    &.item-link:hover {
        transform: translateY(-5px);
    }

    &.item-link-footer:hover {
        transform: translateY(-2px);;
    }

    &.item-link:focus, &.item-link:focus-visible {
       outline: 1px solid $neutral;
       outline-offset: 5px;
    }

    &.item-link-footer:focus, &.item-link-footer:focus-visible {
        text-decoration: underline double;
     }
    
}

@mixin media-sm {
    @media screen and (min-width: 400px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin media-fallback {
    @media screen and (max-width: 360px) {
        @content;
    }
}