*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none; 
}

html {
    scroll-behavior: smooth;
}

body, html {
    font-size: 16px;
    background: $light-minus;
    overflow-x: hidden;
    height: 100%;
}



body {
    border: 1px solid red;
    background: $light;
    overflow-x: hidden;    

    max-width: 1920px;    
    min-width: 300px;
    margin: 0 auto;     

    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
    &.scrolling {
        overflow-y: hidden;
    }
       
}

header {
    height: 100vh;
}

a, button, .menu-btn {
    -webkit-tap-highlight-color: transparent;
}

.logo {

    img {
        transition: all .5s ease-out;
    }
    a {
        &:hover {
            transform: translateY(-5px);
            
        }

        &:focus-visible {

            img {
                
                outline: 1px solid $neutral;
                outline-offset: 10px;
            }
            
        }
    }   
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.6875rem;    
}

h2, h3 {
    font-size: 1.73rem;
}

h2 {    
    text-align: center;
    color: $secondary;
}

h3 {
    color: $primary;
}

p {
    color: $secondary-plus;
    font-size: $paragraph;
}

a {
    display: block;
    color: $neutral;
    font-size: $list-item-2;    
    transition: .25s ease-out;

    &.item-link:hover, &.item-link-footer:hover {
        color: $primary;
    }

    &.item-link:hover {
        transform: translateY(-5px);
    }

    &.item-link-footer:hover {
        transform: translateY(-2px);;
    }

    &.item-link:focus-visible {
       outline: 1px solid $neutral;
       outline-offset: 5px;
    }

    &.item-link-footer:focus-visible {
        text-decoration: underline 4px dashed $primary;                        
     }
    
}

@mixin media-sm {
    @media screen and (min-width: 400px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin media-fallback {
    @media screen and (max-width: 360px) {
        @content;
    }
}

@mixin padding-x-lg {
    padding-left: calc(2.8125rem + 2.75%);
    padding-right: calc(2.8125rem + 2.75%);
}

@mixin padding-x-xl {
    padding-left: 8.875rem;
    padding-right: 8.875rem;  
}