footer {
    padding: 4.59375rem $horizontal 1.6875rem $horizontal;
    background: $secondary;
    color: $neutral;

    .logo {
        // border: 1px solid white;
        text-align: center;

        img {
            width: 32%;
            margin-bottom: 3.875rem;
        }
    }
}

.newsletter {
    text-align: center;

    label {
        // border: 1px solid pink;
        // margin-bottom: 1.625rem;
        font-size: $subtitle;
    }
}

.email {
    margin-top: 1.625rem;
    width: 100%;
    height: 3.5625rem;
    font-size: $paragraph;
    
    color: $secondary-minus;
    padding-left: 4.5625rem;
    
    background: $light-plus url('/assets/icons/envelope.svg') no-repeat 1.25rem center;
    border: 2px solid transparent;
    outline: none;

    &:focus, &:focus-visible {
        border: 2px solid $primary-plus;
        
        background-color: $light;
    }

}

.nav-menu-footer {
    text-align: center;

    .nav-menu-item  {
        
        margin-bottom: 1.5rem;
        transition: .2s ease-in-out;

        // &:hover {
        //     transform: translateY(-2px);
        // }

        a { 
            
            font-size: $subtitle;
        }
    }
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.8125rem;

    a {
        svg {
            path {
                transition: .4s ease-in-out;
            }
        }
    }

    a {
        
        &:hover {
            transform: translateY(-5px);
            // transform: rotate(10deg) translateY(-5px);
            svg {
                path {
                    fill: $neutral;
                }
            }
        }
    }
}

.attribution {
    margin-top: 2.875rem;
    text-align: center;
    font-size: $extra-small;
}