@include media-sm {
    

    .hero-section {        
        // border: 1px solid orange;
        width: calc(min(95%, 45rem));
        margin: 0 auto;
                
        text-align: center;

        h1 {
            // text-align: left;
            max-width: 32.625rem;
            margin: 0 auto;
        }

        img {
            width: calc(min(100%, 30rem));
        }
    }

    .about {
        p {
            // border: 1px solid green;
            margin: 0 auto;
            margin-bottom: 0.5rem;
            width: calc(min(90%, 20.3125rem));
        }
    }

    .how-it-works {
        
        

        ul {
            // border: 1px solid red;
            width: calc(min(90%, 20.3125rem));            
        }
    }
    
    .testimonial {
        width: calc(min(90%, 25.8125rem));
        margin: 0 auto;
        margin-bottom: 5.25rem;
    }

    footer {
        
        .logo {
           
            img {
                width: 6.95rem;
            }
        }       
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .email, .social-icons {
        width: 21.875rem;
    }

    .social-icons {
        margin: 0 auto;
        margin-top: 3.8125rem;
    }
}

@include media-lg {

    header {        
        padding-left: 2.8125rem;
        padding-right: 2.8125rem;

        .logo {

            img {
                width: 100%;
            }
        }
    }
    
    .menu-btn {
        display: none;
    }

    .nav-wrapper {
        position: relative;
        top: 0;
        right: 0;
       
        justify-content: flex-end;
        width: calc(min(100%, 1440px)); 
    }
    
    .nav {        
        background-color: transparent;
        height: 5.8125rem;

        width: 86%;
       
    }

    .nav-menu {
        flex-direction: row;        
        align-items: center;

        width: 100%; 
        margin: 0;
        margin-left: calc(min(10%, 14.45rem));
    
        .nav-menu-link {
            width: auto;

            &::after {
                display: none;
            }
        }        
    }

    .hero-section {        
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding-right: 0.5%;
        padding-left: 2.75%;

        h1 {           
            text-align: left;
            font-size: clamp(2rem, 4vw, $h1-lg);
            margin: 0;
            max-width: 38.06rem;            
        }
    }
}

@include media-xl {
    .hero-section {
        padding: 0 4.4375rem 0 8.875rem;

    }
}