// Primary Colors
$primary: #F3EE1E;
$primary-minus: #F9F68F;
$primary-plus: #DBD61B;

// Secondary Colors
$secondary: #212121;
$secondary-minus: #4D4D4D;
$secondary-plus: #141414;

// Neutral Colors
$neutral: #F4FFE3;
$neutral-minus: #FAFFF1;
$neutral-plus: #DCE6CC;

// Dark Colors
$dark: #1A1A1A;
$dark-minus: #333333;
$dark-plus: #000000;

// Light Colors
$light: #F2F2F2;
$light-minus: #FFFFFF;
$light-plus: #E3E3E3;

// Semantic Colors:
$danger: #D9362B;
$success: #57B261;
$info: #4376B6;

// Default Font Sizes:
$paragraph: 1rem;
$list-item-1: 1.2rem;
$list-item-2: 1.44rem;
$list-number: 1.44rem;
$btn-text: 1.44rem;
$subtitle: 1.2rem;

// Large Font Sizes:
$h1-lg: 3.75rem;
$h2-lg: 2.49rem;

// Small Fonts:
$small: 0.83rem;
$extra-small: 0.7rem;

// Margins / Paddings:
$horizontal: 1.5625rem;





